astropy==1.1.2
h5py==2.6.0
keras==1.0.8
matplotlib==1.5.1
numpy==1.11.0
pandas==0.18.1
pymongo>=3.0.3
pyyaml-3.12
requests==2.10.0
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.0
theano==0.8.2
